/* web自定义样式 */

/* 导航栏样式 */
.navbar {
    background-color: #FFFFFF; /* 白色背景 */
    border-bottom: 1px solid #DDDDDD; /* 灰色边框 */
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 添加阴影效果 */
    padding: 10px 0;
    display: flex;
}

.menu {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.nav-title {
    font-size: 24px;
    font-weight: 700;
}

.nav-menu {

    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    height: 100%;
}

.nav-menu > li {
    margin: 0 15px;
    position: relative;
}

.nav-menu >li > a {
    /* color: #333333;  链接文字颜色 */
    display: block;
}

/*.nav-menu a:hover {*/
/*    font-weight: bold;*/
/*}*/
/* 鼠标悬停一级菜单时的悬停效果，两者结合表示除文本外的区域时也有悬停效果 */
.nav-menu > li > a:hover,
.nav-menu > li:hover > a {
    /* background-color:aqua;  /* 悬停时颜色 */
    font-weight: bold;
}


/* 二级菜单样式 */
.submenu {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.submenu > li > a {
    /*color: #FFF;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
/* 二级菜单悬停时颜色设置 */
.submenu > li > a:hover {
    background-color:#F9F9F9;
    /*color:#666;*/
    font-weight: bold;
}
.nav-menu > li:hover .submenu {
    display: block;
}

/* base.html 导航与内容悬浮间距 ，值为导航高度*/
#app {
    margin-top: 60px; /* 防止被固定的导航栏遮挡 */
    flex: 1;
}


/* 内容区域布局样式，内容和侧边栏 */
.main {
    /*background-color: #FFFFFF;*/
    padding: 60px 0;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);*/
    display: flex;
    gap: 20px;
    max-width: 940px;
    /*flex-grow: 1;*/
}